---
http_interactions:
- request:
    method: get
    uri: http://api.stackexchange.com/2.2/users?page=1&site=stackoverflow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://api.stackexchange.com/2.2/users?site=stackoverflow&page=1
      X-Request-Guid:
      - c66fb908-5ed1-47ea-8724-3caa309d7778
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 10 Dec 2023 08:40:04 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users?page=1&site=stackoverflow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Guid:
      - 4ca5f37c-9250-4bee-81ff-eed917deb555
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"badge_counts":{"bronze":9220,"silver":9170,"gold":873},"account_id":11683,"is_employee":false,"last_modified_date":1702128900,"last_access_date":1702151901,"reputation_change_year":59210,"reputation_change_quarter":10495,"reputation_change_month":1499,"reputation_change_week":20,"reputation_change_day":20,"reputation":1437991,"creation_date":1222430705,"user_type":"registered","user_id":22656,"accept_rate":86,"location":"Reading,
        United Kingdom","website_url":"http://csharpindepth.com","link":"https://stackoverflow.com/users/22656/jon-skeet","profile_image":"https://www.gravatar.com/avatar/6d8ebb117e8d83d74ea95fbdd0f87e13?s=256&d=identicon&r=PG","display_name":"Jon
        Skeet"},{"badge_counts":{"bronze":5322,"silver":4482,"gold":533},"account_id":4243,"is_employee":false,"last_modified_date":1702063209,"last_access_date":1702180050,"reputation_change_year":121784,"reputation_change_quarter":28516,"reputation_change_month":3305,"reputation_change_week":153,"reputation_change_day":153,"reputation":1301538,"creation_date":1221344553,"user_type":"registered","user_id":6309,"accept_rate":100,"location":"France","website_url":"https://devstory.fyi/vonc",[...]
