---
http_interactions:
- request:
    method: get
    uri: http://api.stackexchange.com/2.2/users?page=1&site=stackoverflow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://api.stackexchange.com/2.2/users?site=stackoverflow&page=1
      X-Request-Guid:
      - 76514494-3b2c-453c-ac72-833a45253086
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 10 Dec 2023 00:55:15 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users?page=1&site=stackoverflow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Guid:
      - a63af058-dd25-407f-82df-29eb10859a4f
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"badge_counts":{"bronze":9220,"silver":9170,"gold":873},"account_id":11683,"is_employee":false,"last_modified_date":1702128900,"last_access_date":1702151901,"reputation_change_year":59190,"reputation_change_quarter":10475,"reputation_change_month":1479,"reputation_change_week":0,"reputation_change_day":0,"reputation":1437971,"creation_date":1222430705,"user_type":"registered","user_id":22656,"accept_rate":86,"location":"Reading,
        United Kingdom","website_url":"http://csharpindepth.com","link":"https://stackoverflow.com/users/22656/jon-skeet","profile_image":"https://www.gravatar.com/avatar/6d8ebb117e8d83d74ea95fbdd0f87e13?s=256&d=identicon&r=PG","display_name":"Jon
        Skeet"},{"badge_counts":{"bronze":5322,"silver":4482,"gold":533},"account_id":4243,"is_employee":false,"last_modified_date":1702063209,"last_access_date":1702169687,"reputation_change_year":121631,"reputation_change_quarter":28363,"reputation_change_month":3152,"reputation_change_week":0,"reputation_change_day":0,"reputation":1301385,"creation_date":1221344553,"user_type":"registered","user_id":6309,"accept_rate":100,"location":"France","website_url":"https://devstory.fyi/vonc","lin[...]
