<h1>Editing post</h1>

<%= turbo_frame_tag "edit_post_#{@post.id}" do %>
  <%= render "form", post: @post %>
<% end %>

<br>

<div>
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div>
