<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= link_to "New post", new_post_path, class: "button" %>
<%= paginate @posts, views_prefix: :posts %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render 'posts/post_card', post: post %>
  <% end %>
</div>
