@import "fonts/font";

.sample {
  background-image: url("sample/with_tools.png");
  width: 500px;
  height: 500px;
}
.turbo-progress-bar {
  background: #cab423;
}

.notice {
  h3 {
    margin-top: 0;
  }

  .time {
    font-size: 14px;
    color: gray;
  }

  .actions {
    text-align: right;

    a, form {
      display: inline-block;
    }
  }
}
