@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto';
}

h2 {
  color: red;
}
