@font-face {
  font-family: 'Roboto';
  src: font-url('Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: font-url('Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: bold;
}
